FRAMEFLOW_ENV=development
FRAMEFLOW_DATABASE_URL=sqlite:///./frameflow-data/frameflow.db
FRAMEFLOW_ORIGINALS_PATH=./frameflow-data/originals
FRAMEFLOW_GENERATED_PATH=./frameflow-data/generated
FRAMEFLOW_LOG_LEVEL=INFO
